body {
  font-family: monospace;
}

pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.contents {
  padding: 0.1em 0.1em 0.1em 1em;
}

.equals { margin-left: 1em; margin-right: 1em }

td.field-name-td, td.field-equals-td, td.field-comma-td {
  vertical-align: top;
}

.toggle > .check {
  display: none;
}

span.brace {
  color: #666;
}

span.open-brace { margin-left: 0.5em; }

span.con-name {
  color: #22863a;
  border-radius: 3px;
}

.con-name, .brace {
  cursor: default;
}

span.integer {
  color: #005cc5;
}

.toggle .check + .inner > .contents {
  display: none
}

.toggle .check:checked + .inner > .contents {
  display: block;
}

.toggle .check:checked + .inner > label > .preview {
  display: none;
}

.toggle { display: flex; }

.inner:hover > .brace {
  background: #e1f6ee;
  color: green;
}

label:hover * {
  background: #3da491;
  color: white;
  cursor: pointer;
}

label > span:empty::after {
    content: "_"
}
